/env
/combined_mhealth.csv
/KARD
/Dataset.zip
/combined_kinect_dataset.csv
/combined_kinect_dataset.zip
/wearable_sensors/dataset_wearable/combined_har_dataset.csv

/KARD.zip
/human+activity+recognition+using+smartphones.zip
human+activity+recognition+using+smartphones/
uci_dataset_csv.py
UCI_HAR_Dataset.csv